snippet from "From gmail" b
From: Michael Lerch <mdlerch@gmail.com>
endsnippet

snippet from "From math" b
From: Michael Lerch <lerch@math.montana.edu>
endsnippet

snippet from "From school" b
From: Michael Lerch <michael.lerch@msu.montana.edu>
endsnippet
