snippet for "for loop" b
for ${1:el} in ${2:li}:
	${3:body}

endsnippet

snippet def "simple function" !b
def ${1:function}(${2:arglist}):
	${3:body}

endsnippet

snippet while "while loop" b
while (${1:statement}):
	${2:body}

endsnippet

snippet if "if statement"
if ${1:test}:
	${2:body}

endsnippet

snippet elif
elif ${1:test}:
	${2:body}

endsnippet

snippet else
else:
	${1:body}

endsnippet
