snippet desc "Description" !b
Package: ${1:Package Name}
Version: ${2:0.10}
Title: ${3:One line description with no period}
Author: ${4:Michael Lerch <mdlerch@gmail.com>}
Maintainer: ${5:Michael Lerch <mdlerch@gmail.com>}
Depends: ${6:R (>=3.0.2)}
Description: ${7:A short paragraph describing package}
License: ${8:GPLv2}
endsnippet
