snippet make_pandoc_reveal "Pandoc Reveal" b
pandocflags = -s -S -t revealjs -V transition=fade --slide-level 2 --mathjax --parse-raw

${1:output}: ${2:source}
	pandoc $< -o $@ $(pandocflags)
endsnippet
