snippet dtnewcol "Add a new column in data.table"
${1:data}[ , ${2:newcol} := ${3:func}(${4:cols,})]
$0
endsnippet

snippet dtagg "Aggregate (doing something by group)"
${1:data}[ , .(${2:summary} = ${3:func}(${4:cols,})), by = ${5:.(V1, V2)}]
$0
endsnippet

snippet dtcol "Get columns"
${1:data}[ , ${2:cols}, with = FALSE]
$0
endsnippet

snippet dtsummmany "Create multiple summaries by group"
${1:data}[ , ${2:func_returns_list}(.SD), by = ${3:key}]
endsnippet
