snippet mentoring "mentor skel" b
Date: ${1:`!v strftime("%Y-%m-%d")`}

- Type of interaction

    ${2:email|in person}

- Topics of discussion

    ${3:teaching etc}

- Recommendations made

    ${4:new teaching or technology}

- Reflect on relationship

    ${5:what?}

- Reflect on impact on myself

    ${6:what?}


$0
endsnippet

# vim:ft=snippets:
