###########################################################################
#                          SNIPPETS for MARKDOWN                          #
###########################################################################

snippet head "header" b
Title: ${1:Title}
Tags: ${2:tag1}
Date: ${3:`!v strftime("%Y-%m-%d")`}
Status: ${4:Draft}

endsnippet

# vim:ft=snippets:
#Date: ${2:`!v strftime("%Y-%m-%d")`}
